.btn{
    background: #9c9191;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    width: 280px;
    max-width: 100%;
    border-radius: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.1em;
    box-shadow: 0px 0px 28px 0px rgba(156, 145, 145, 0.7);
    transition: color .2s, background .2s, opacity .2s;
}
.btn:hover{
    background: #a19797;
}
.btn:active{
    opacity: 0.8;
    transform: scale(1.1);
}
@media(max-width: 576px){
    .btn{
        padding: 16px 28px;
        width: 220px;
        font-size: 16px;
    }
}
.container{
    padding: 0 20px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.phone-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
    text-decoration: none;
    display: inline-block;
    border: 3px solid black;
    padding: 8px 16px;
    border-radius: 24px;
    transition: color .2s, background .2s, opacity .2s;
}
.phone-item:hover{
    color: white;
    background: black;
}
.phone-item:active{
    opacity: 0.8;
}
.btn-menu{
    background: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    border: 0;
}
.btn-menu-box{
    display: inline-block;
    width: 40px;
    height: 24px;
}
.btn-menu-inner::before,
.btn-menu-inner::after,
.btn-menu-inner{
    background: black;
    height: 4px;
    width: 100%;
    border-radius: 4px;
}
.btn-menu-inner{
    position: relative;
    display: block;
    top: 50%;
}
.btn-menu-inner::before,
.btn-menu-inner::after{
    content: "";
    position: absolute;
    left: 0;
}
.btn-menu-inner::before{
    top: -10px;
}
.btn-menu-inner::after{
    bottom: -10px;
}
.section{
    padding: 110px 0;
}
@media(max-width: 576px){
    .section{
        padding: 80px 0;
    }
    .section-header{
        margin-bottom: 90px;
    }
}
.page-title{
    font-size: 40px;
    text-align: center;
    margin: 0 auto 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
@media(max-width: 576px){
    .page-title{
        font-size: 38px;
    }
}
.catalog-nav{
    display: flex;
    justify-content: center;
}
.catalog-nav-wrapper{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    overflow: hidden;
}
.catalog-nav-button{
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 15px;
    min-width: 150px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900px;
    color:rgba(156, 145, 145, 0.7);
    border-right: 1px solid #998e8e;
}
.catalog-nav-button.is-active{
    background: black;
    color: white;
    border-color: black;
}
.catalog-nav-button:not(.is-active):hover{
    background: black;
    color: white;
    border-right-color: black;
    transition: border .2s, background .2s, color .2s;
}
.catalog-nav-item:last-of-type .catalog-nav-button{
    border-right: 0;
}
@media(max-width: 767px){
    .catalog-nav{
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
    }
    .catalog-nav-wrapper{
        flex-wrap: wrap;
        width: 100%;
        border-radius: 10px;
    }
    .catalog-nav-item{
        width: 50%;
        flex-grow: 1;
    }
    .catalog-nav-button{
        min-width: 0;
        width: 100%;
        border-top: 1px solid #998e8e;
    }
    .catalog-nav-item:nth-of-type(1) .catalog-nav-button,
    .catalog-nav-item:nth-of-type(2) .catalog-nav-button{
        border-top: 0;
    }
    .catalog-nav-item:nth-of-type(even) .catalog-nav-button{
        border-right: 0;
    }
}
.catalog{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px;
}
.catalog-item{
    width: calc(100%/3);
    margin-bottom: 100px;
    padding: 0 24px;
    position: relative;
}
.catalog-item::before{
    content: '';
    background: #d4d2d2;
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
}
.catalog-item:nth-of-type(3n + 1)::before{
    content: none;
}
@media(max-width: 1250px){
    .catalog{
        margin: 0 -16px;
    }
    .catalog-item{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-width: 1050px){
    .catalog-item{
        width: 50%;
    }
    .catalog-item:nth-of-type(even)::before{
        content: '';
    }
    .catalog-item:nth-of-type(odd)::before{
        content: none;
    }
}
@media(max-width: 780px){
    .catalog-item{
        width: 100%;
        margin-bottom: 50px;
    }
    .catalog-item:nth-of-type(n)::before{
        content: none;
    }
    .catalog-product{
        width: 350px;
        max-width: 100%;
        margin: 0 auto;
        border-bottom: 2px solid #d4d2d2;
        padding-bottom: 50px;
    }
    .catalog-item:last-of-type{
        margin-bottom: 0;
    }
    .catalog-item:last-of-type .catalog-product{
        border-bottom: 0;
        padding-bottom: 0;
    }
}
.product{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.Product-img{
    display: block;
    margin: 0 auto 15px;
}
.Product-title{
    margin: 0 0 10px;
    font-size: 20px;
}
.Product-description{
    margin: 0;
    color: #9c9191;
}
.Product-content{
    margin-bottom: 25px;
    flex-grow: 1;
}
.Product-models{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
}
.Product-model{
    color: black;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #998e8e;
    padding: 14px 20px;
    border-radius: 20px;
}
.Product-model.is-active{
    color: black;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.Products-price{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 900;
}
.Products-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Product-button{
    box-shadow: none;
    background: #9c9191;
    width: 200px;
    padding: 14px 20px;
}
.Product-button:hover{
    background: #f21f2e;
}
@media(min-width: 993px) and (max-width: 1150px){
    .Product-model{
        padding: 14px 16px;
    }
}
@media(max-width: 400px){
    .Product-model{
        padding: 14px 16px;
    }
}
.socials{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.socials-item{
    margin-right: 5px;
}
.socials-link{
    display: inline-block;
}
.btn-close{
    position: relative;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    transition: transform .2s, opacity .2s;
}
.btn-close:hover{
    transform: scale(1.1);
}
.btn-close:active{
    transform: scale(0.9);
    opacity: 0.8;
}
.btn-close::before,
.btn-close::after{
    content: '';
    background: #9c9191;
    height: 40px;
    width: 3px;
    position: absolute;
    border: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.btn-close::before{
    transform: translateY(-50%) rotate(45deg);
}
.btn-close::after{
    transform: translateY(-50%) rotate(-45deg);
}
.mobile-menu{
    width: 100%;
}
.mobile-menu-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.mobile-menu-link{
    text-decoration: none;
    padding: 20px 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: inherit;
    font-weight: 900;
    text-align: center;
    transition: background .2s, color .2s, opacity .2s;
}
.mobile-menu-link:hover{
    background: black;
    color: white;
}
.mobile-menu-link:active{
    opacity: 0.8;
}
.order{
    max-width: 310px;
    margin: 0 auto;
}
.order-img{
    width: 200px;
    display: block;
    margin: 0 auto 10px;
}
.order-title{
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 5px;
    text-align: center;
}
.form-input{
    display: block;
    width: 100%;
    padding: 28px 28px;
    background: #f2eded;
    border-radius: 10px;
    margin-bottom: 8px;
    border: 2px solid transparent;
    outline: none;
}
.form-input:focus{
    border-color: #998e8e;
}
.form-button{
    box-shadow: none;
    width: 100%;
    background: #998e8e;
    padding: 22px 28px;
    border-radius: 50px;
}